.body{
    background-color: white;
    color: black;
    padding-left: 100px;
    
    
}
.total_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.division1{
    display: grid;
    width: 300px;
}

.headliine{
    position: fixed;
}

.photo{
    border-radius: 10px;
    width: 300px;
}

.table{
    border-style: solid;
    border-color: white;
}

.camtable{
    text-align: center;
}